---
layout: page
---

<div style="margin-top:-30px">
	{% for post in paginator.posts %}
	<div class="post" style="margin-top:70px">
		<h2 class="post-title">
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h2>
		<p class="post-date">
			{% assign m = post.date | date: "%-m" %}
			{{ post.date | date: "%-d" }}
			{% case m %}
			{% when '1' %}Januar
			{% when '2' %}Februar
			{% when '3' %}März
			{% when '4' %}April
			{% when '5' %}Mai
			{% when '6' %}Juni
			{% when '7' %}Juli
			{% when '8' %}August
			{% when '9' %}September
			{% when '10' %}Oktober
			{% when '11' %}November
			{% when '12' %}Dezember
			{% endcase %}
			{{ post.date | date: "%Y" }}
		</p>
		{{ post.content }}
	</div>
	{% endfor %}
</div>

<nav>
	<ul class="pager">
		{% if paginator.next_page %}
		<li>
			<a href="{{ paginator.next_page_path }}" class="next">Ältere Beiträge</a>
		</li>
		{% endif %}
		{% if paginator.previous_page %}
		<li>
			<a href="{{ paginator.previous_page_path }}" class="previous">Neuere Beiträge</a>
		</li>
		{% endif %}
	</ul>
</nav>