.minus_left {
	margin-left: -20px;
}

.banner {
	background: url("/public/images/weide.jpg") no-repeat left top;
	height: 90px;
}

.sidebar {
	float: right;
}

img {
	max-width: 100%;
}

.pager > li > a {
	background-color: #f1d8ba;	
}
.pager > li > a:hover {
	background-color: gray;	
}
.pager > li > a {
	border: 1px solid black;
}

.post-title a {
	color:  black;	
}

.post-title a:hover {
	text-decoration: none;
}

.nav-sidebar li a:hover {
	color:  black;
	text-decoration: underline;
}
.nav-sidebar li.active a {
	color:  black;
	text-decoration: underline;
}

.nav-sidebar {
	margin-left: -20px;
}

.navbar.center .navbar-inner {
	text-align: center;
}
.navbar.center .navbar-inner .nav {
	float: none;
	display:inline-block;
}

.brown {
	color: #5e4b46;
}


.carousel-indicators {
	bottom:-2px;
}

.carousel {
	width: 667px;
}

.carousel-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	width: 100%;
	font-size: 110%;
	padding-top: 0.5rem;
	padding-bottom: 2rem;
}

body {
	background: url("/public/images/background.jpg") repeat;
}

html { 
	overflow-y: scroll; /* prevent scrollbar from repositioning web page */		
}

.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;	
}

.navbar {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	font-family: 'Vollkorn', serif;
	font-size: 120%;
	border-radius: 0px;	
}

.colored-navbar{	
	border: 0px;
	background: url("/public/images/weide.jpg") no-repeat left top;
}

h1, h2, h3, h4 {
	margin-top: 40px;
	font-family: 'Vollkorn', serif;	
}


/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 80px;
}
.footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 37px;
}