@media (max-width: 1120px) {
	.hidden-below-middle {
		display:none !important;
	}
}

/** bei großen Monitoren trotzdem schmal bleiben **/
@media (min-width: 800px) {
	.container{
		max-width: 800px;
	}
}

div.tooltip {
	top: 45px !important;   
}

.minus_left {
	margin-left: -20px;
}

.sidebar {
	float: right;
}

img {
	max-width: 100%;
}

.pager > li > a {
	background-color: #f1d8ba;	
}
.pager > li > a:hover {
	background-color: gray;	
}
.pager > li > a {
	border: 1px solid black;
}

.post-title a {
	color:  black;	
}

.post-title a:hover {
	text-decoration: none;
}

.nav-sidebar li a:hover {
	color:  black;
	text-decoration: underline;
}
.nav-sidebar li.active a {
	color:  black;
	text-decoration: underline;
}

.nav-sidebar {
	margin-left: -20px;
}

.navbar.center .navbar-inner {
	text-align: center;
}
.navbar.center .navbar-inner .nav {
	float: none;
	display:inline-block;
}

.brown {
	color: #5e4b46;
}

@media (max-height: 710px) {
	#carousel-example-generic.carousel.slide {max-width: 600px; !important}
}
@media (max-height: 610px) {
	#carousel-example-generic.carousel.slide {max-width: 500px; !important}
}
.carousel-indicators {
	bottom:-2px;
}

.carousel-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 2rem;
}
@media (min-width: 400px) {
	.carousel-caption {
		font-size: 150%;
	}
}

body {
	background: url("/public/images/background.jpg") repeat;
	font-size: 160%;	
}

html { 
	overflow-y: scroll; /* prevent scrollbar from repositioning web page */		
}

.banner {
	background: url("/public/images/weide.jpg") no-repeat left top;
	height: 142px;
}

.navbar {
	border: 0px;	
	background-color: transparent;
	background: url("/public/images/weide_unten.jpg") no-repeat left top;
	border-color: transparent;
	font-family: 'Vollkorn', serif;
	font-size: 120%;
	border-radius: 0px;	
}

@media (min-width: 765px) {
	.navbar {
		height: 52px;		
	}
}

.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;	
}

.affix + .container {
	padding-top: 70px;
}

h1, h2, h3, h4 {
	margin-top: 15px;
	font-family: 'Vollkorn', serif;	
}


/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 50px;
}
.footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 25px;
}