	</div>
	
  <footer class="footer">
    <a class="text-center" href="/oezo/"><img src="/public/images/oezo_logo_plain_small.png" style="margin-right: 7px"></a>   
    <a class="brown text-center" href="/impressum/">Impressum</a>
    <a class="text-center" href="/open-source/"><img src="/public/images/open_source_logo.png" style="margin-left: 7px"></a>    
  </footer>

  <!-- JavaScript placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="/public/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/js/custom.js"></script>
</body>
</html>
