<!DOCTYPE html>
<html lang="de">

<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{% if page.url == "/" or page.url contains "blog" %}{{ site.title }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">  
  <link rel="stylesheet" href="/public/css/navbar_highlights.css">      
  <link rel="stylesheet" href="/public/css/custom.css">      
  <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>  

  <!-- Icons -->
  <link rel="shortcut icon" href="/public/images/favicon.ico">
</head>

<body>
  <div class="banner" style="position:absolute; width:100%; top:0px"></div>  

  <a href="/" title="Startseite"><img src="/public/images/logo.png" style="position:absolute; margin-left:auto; margin-right: auto; left:0px; right:0px; top:5px; z-index: 9999 !important;"></a>       
  
<!--   <img class="hidden-below-middle" src="/public/images/kuh.png" style="position:absolute; margin-left:auto; margin-right: auto; left:0px; right:-950px;margin-top: 55px; z-index: 800 !important;"> 
 -->
 
  {% include menu.html %}

  <div class="container">