<div id="carousel-example-generic" class="carousel slide center-block" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		<li data-target="#carousel-example-generic" data-slide-to="3"></li>
		<li data-target="#carousel-example-generic" data-slide-to="4"></li>
		<li data-target="#carousel-example-generic" data-slide-to="5"></li>		
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">

		<div class="item active">
			<img src="{{site.baseurl}}/public/images/wiese.JPG">
			<div class="carousel-caption">				
				<p>Du möchtest regionale Lebensmittel ohne lange Transporte?</p>
			</div>
		</div>

		<div class="item">
			<img src="{{site.baseurl}}/public/images/vogel.JPG">
			<div class="carousel-caption">				
				<p>Du möchtest.....artgerechte Tierhaltung? </p>
			</div>
		</div>

		<div class="item">
			<img src="{{site.baseurl}}/public/images/stachelbeeren.JPG">
			<div class="carousel-caption">				
				<p>Du möchtest..... gesunde & frische Nahrungsmittel vom Hof?</p>
			</div>
		</div>

		<div class="item">
			<img src="{{site.baseurl}}/public/images/stuhl.JPG">
			<div class="carousel-caption">				
				<p>Du möchtest... eine Landwirtschaft ohne Gentechnik?</p>
			</div>
		</div>

		<div class="item">
			<img src="{{site.baseurl}}/public/images/knoblauch.JPG">
			<div class="carousel-caption">				
				<p>Du möchtest... Deinen Kindern oder Enkeln zeigen, wie Möhren wachsen?</p>
			</div>
		</div>

		<div class="item">
			<img src="{{site.baseurl}}/public/images/himbeeren.JPG">
			<div class="carousel-caption">				
				<p>Du möchtest... die Menschen und ihren Hof kennen, die Deine Lebensmittel anbauen & versorgen</p>
			</div>
		</div>								

	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Vorheriges</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Nächstes</span>
	</a>
</div>


<div class="col-sm-9 col-md-8">
	<div style="margin-top:-30px">
		{% if page.url  == "/" or page.url contains "seite" %}
		{% assign posts = paginator.posts %}
		{% else %}
		{% assign posts = site.posts %}
		{% endif %}
		{% for post in posts %}
		{% assign filter = page.url | remove: "blog" | replace: '/', '' %}
		{% if page.url  == "/" or page.url contains "seite" or post.categories contains filter %}
		<div class="post" style="margin-top:70px">
			<h2 class="post-title">
				<a href="{{ post.url }}">{{ post.title }}</a>	
			</h2>
			<p class="post-date" style="color: gray">
				{% assign m = post.date | date: "%-m" %}
				{{ post.date | date: "%-d" }}
				{% case m %}
				{% when '1' %}Januar
				{% when '2' %}Februar
				{% when '3' %}März
				{% when '4' %}April
				{% when '5' %}Mai
				{% when '6' %}Juni
				{% when '7' %}Juli
				{% when '8' %}August
				{% when '9' %}September
				{% when '10' %}Oktober
				{% when '11' %}November
				{% when '12' %}Dezember
				{% endcase %}
				{{ post.date | date: "%Y" }}
			</p>
			{{ post.content }}
		</div>
		{% endif %}
		{% endfor %}
	</div>

	{% if page.url  == "/" or page.url contains "seite" %}
	<nav style="margin-top: 40px">
		<ul class="pager">
			{% if paginator.next_page %}
			<li class="previous">
				<a href="{{ paginator.next_page_path }}" class="next">&larr; Ältere Blogeinträge</a>
			</li>
			{% endif %}
			{% if paginator.previous_page %}
			<li class="next">
				<a href="{{ paginator.previous_page_path }}" class="previous">Neuere Blogeinträge &rarr;</a>
			</li>
			{% endif %}
		</ul>
	</nav>
	{% endif %}
</div>

{% include start_sidebar.html %}
