<div class="col-sm-4 col-md-4 sidebar">
	<h4>Kommende Veranstaltungen</h4>
	<nav class="nav nav-sidebar">
		<ul>
			{% assign no_posts = true %}
			{% for post in site.posts %}
			{% if post.categories contains "veranstaltung" %}	
			{% assign no_posts = false %}
			<li class="{% if post.url == page.url %}active{% endif %}">
				<a href="{{ post.url }}">{{ post.title }}</a>
			</li>
			{% endif %}
			{% endfor %}
			{% if no_posts %}
			<p>Gerade keine</p>
			{% endif %}
		</ul>
	</nav>

	<p style="margin-top: 40px">Zeige nur Blogeinträge der Kategorie:</p>
	<nav class="nav nav-sidebar">
		<ul>
			<li class="{% if page.url == "/" or page.url contains "seite" %}active{% endif %}">
				<a href="/">Alle</a>
			</li>		
			<li class="{% if page.url == "/blog/hof/" %}active{% endif %}">
				<a href="/blog/hof/">Hof</a>
			</li>
			<li class="{% if page.url == "/blog/welt/" %}active{% endif %}">
				<a href="/blog/welt/">Welt</a>
			</li>
		</ul>
	</nav>
</div>