<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body>
	{% include menu.html %}

	<div class="clearfix content-heading">
		<img src="/public/images/weide.png" class="pull-left" style="margin-top:-50px;>
		<a class="navbar-brand" href="/"><img src="/public/images/logo.png" style="position: absolute; margin-left: auto;margin-right: auto; left: 0;right: 0;top:100px;"></a>  
		<img src="/public/images/kuh.png" style="position: absolute; margin-top:85px; margin-left: auto;margin-right: auto; left: 0;right: -500px;">  		
	</div>	

	<div class="container">
		{{ content }}
	</div>
	
	<footer class="footer">
		<a class="text-muted text-center" href="/impressum/">Impressum</a>
	</footer>

	<!-- JavaScript placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="/public/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/js/custom.js"></script>
</body>
</html>
